# Groq LLM
GROQ_API_KEY=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

# Tavily web search
TAVILY_API_KEY=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

# LangSmith tracing (optional but recommended)
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=agentcoder
